<settings>
	<localRepository>D:\OS00437506\TECHM\InstalledSoftware\apache-maven-3.3.9\local_repository</localRepository>
	<mirrors>
		<mirror>
			<id>nexus</id>
			<mirrorOf>*</mirrorOf>
			<url>http://mavencentral.it.att.com:8084/nexus/content/groups/csi</url>
		</mirror>
		<mirror>
			<id>maf</id>
			<mirrorOf>maf</mirrorOf>
			<url>http://mavencentral.it.att.com:8084/nexus/content/repositories/maf-releases/</url>
		</mirror>
		<mirror>
			<id>nexus-aft</id>
			<mirrorOf>*</mirrorOf>
			<url>http://mavencentral.it.att.com:8084/nexus/content/groups/aft</url>
		</mirror>
		<mirror>
			<id>nexus-edp</id>
			<mirrorOf>nexus</mirrorOf>
			<url>http://mavencentral.it.att.com:8084/nexus/content/repositories/edp-3rd-party/</url>
		</mirror>
		<mirror>
			<id>nexus-edp</id>
			<mirrorOf>nexus</mirrorOf>
			<url>http://mavencentral.it.att.com:8084/nexus/content/repositories/central/</url>
		</mirror>
	</mirrors>
	<profiles>
		<profile>
			<id>nexus</id>
			<repositories>
				<repository>
					<id>central</id>
					<url>http://central</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>central</id>
					<url>http://central</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>nexus</activeProfile>
	</activeProfiles>
	<pluginGroups>
		<pluginGroup>org.sonatype.plugins</pluginGroup>
	</pluginGroups>
</settings>

